<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<!--Banorte Payment Facade Virtual Type Configuration
    <virtualType name="Sixplus1BanorteFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="string">sixplus1_banorte</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">Sixplus1BanorteValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">Sixplus1BanorteCommandPool</argument>
        </arguments>
    </virtualType> -->
</config>